<%= form_with(model: faciliy, local: true) do |form| %>
  <% if faciliy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(faciliy.errors.count, "error") %> prohibited this faciliy from being saved:</h2>

      <ul>
      <% faciliy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :faciliy_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
