<p id="notice"><%= notice %></p>

<h1>Faciliys</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faciliys.each do |faciliy| %>
      <tr>
        <td><%= faciliy.name %></td>
        <td><%= link_to 'Show', faciliy %></td>
        <td><%= link_to 'Edit', edit_faciliy_path(faciliy) %></td>
        <td><%= link_to 'Destroy', faciliy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Faciliy', new_faciliy_path %>
