<%= form_with(model: taxi, local: true) do |form| %>
  <% if taxi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(taxi.errors.count, "error") %> prohibited this taxi from being saved:</h2>

      <ul>
      <% taxi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
      <div class="col s1"></div>
      <div class="col s5">
        <div class="card">
            <br>
          <div class="container">
              <h6>Introduzca los datos del taxi</h6>

  <div class="field">
      <%= form.label :driver_name %>
      <%= form.text_field :driver_name, id: :taxi_driver_name %>
    </div>
  
    <div class="field">
      <%= form.label :places %>
      <%= form.text_field :places, id: :taxi_places %>
    </div>
  
    <div class="field">
      <%= form.label :cartype %>
      <%= collection_select(:taxi, :cartype_id, Cartype.all, :id, :name, {:prompt => false} ,class:"browser-default")%>
    </div>
    
    <div class="field">
        <%= form.label%>Idioma en el que se comunica: 
          
        <% i = 1 %>
        <% Language.all.each do |single|%>
        <% st = "taxi_language_ids_"+ i.to_s %>
        <div class="col s6">
        <input id=<%=st %> name="taxi[language_ids][]" type="checkbox" value=<%=i%> class="filled-in" />
        <label for=<%=st%>><%= single.name%></label>
        <% i = i+1 %> 
        </div>
       <% end%>
      </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  
          </div>
        </div>
      </div>
  </div>    
<% end %>
