<p id="notice"><%= notice %></p>

<h1>Rents</h1>
  <div class="row">
    <div class="col s12">
      <Strong>Nuevo alojamiento</Strong>
      <%= link_to '+', new_rent_path,class:"btn-floating btn-large waves-effect waves-light" ,style:"font-size:25px;", id:"btn-circular" %>
      
    </div>
      <% @rents.each do |rent| %>
      <div class="col s3">
      <div class="card" style="height:90px;">
        
          <div class="row">
            <div class="col s8">
                <div class="row">Name:</div>
                <div class="row"><%= rent.name%></div>
            </div>
            <div class="col s4">
              <div class="row">
                <div class="col s6">
                    <%= link_to 'Show', rent, class:"waves-effect waves-light btn", id: "btn-small" %>      
                </div>
                <div class="col s6">
                    <%= link_to 'Edit', edit_rent_path(rent), class:"waves-effect waves-light btn", id: "btn-small" %>      
                </div>
              </div>
                   </div>
          </div>
          
        
      </div>
    </div>
      <% end %>
  </div>
    

<br>

<style>
  #btn-small {
    height: 15px;
    line-height: 15px;
    font-size: 10px;
    padding: 0 0.2rem;
    }
  #btn-circular{
    height: 40px;
    width: 40px;
    line-height: 40px;
    padding: 0 0.5rem;
  }
  .card{
    background-color: #e6c9c90e
  }  

</style>