<p id="notice"><%= notice %></p>


<div class="container">

    <div class="row">
        <div class="col s8"></div>
        
        <div class="col s2"><%= link_to 'Destroy', @rent, method: :delete, data: { confirm: 'Are you sure?' }, class:"waves-effect waves-light btn" %>
        </div>
        <div class="col s2">
            <a class="waves-effect waves-light btn" href=<%=edit_rent_path(@rent)%>>Edit</a>
        </div>
    </div>

<p>
  <strong>Nombre dela casa:</strong>
  <%= @rent.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rent.address %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @rent.rooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @rent.bathrooms %>
</p>

<p>
  <strong>Dbl:</strong>
  <%= @rent.dbl_price %>
</p>

<p>
  <strong>Tpl:</strong>
  <%= @rent.tpl_price %>
</p>

<p>
  <strong>Qpl:</strong>
  <%= @rent.qpl_price %>
</p>

<p>
  <strong>Home:</strong>
  <%= @rent.home %>
</p>


<p>
  <strong>Caracteristicas:</strong>
  <%= @rent.features %>
</p>

<p>
  <strong>Tripadvisor:</strong>
  <%= @rent.tripadvisor %>
</p>


<p>
  <strong>Location:</strong>
  <%= @rent.location.name %>
</p>

<strong>Servicios que ofrecemos:</strong>
<% @rent.services.each do |single|%>
<div class="col s12">
<strong>-</strong><%= single.name%>
 </div>
<% end%>
<% @rent.facilities.each do |single|%>
<div class="col s12">
<strong>-</strong><%= single.name%>
 </div>
<% end%>

</div>