<p id="notice"><%= notice %></p>

<h1>Cartypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cartypes.each do |cartype| %>
      <tr>
        <td><%= cartype.name %></td>
        <td><%= link_to 'Show', cartype %></td>
        <td><%= link_to 'Edit', edit_cartype_path(cartype) %></td>
        <td><%= link_to 'Destroy', cartype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cartype', new_cartype_path %>
